/* Pozadinska slika za body */
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url('/frontend/static/images/clouds_background1.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* Dodajemo manji blur efekt sa ::before */
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    /*filter: blur(50px);*/
    z-index: -1000;
}

/* Stil za container bez pozadine */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    max-height: 80vh;
    padding: 20px;
    border-radius: 15px;
    /*box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);*/
    z-index: 1;
}

/* Blur efekat za svaki pojedinačni element */
.row .blured{
    position: relative;
    margin: 10px 0;
    padding: 10px;
    backdrop-filter: blur(2px); /* Blur efekt na svakom elementu */
    border-radius: 10px;
}

/* Stil za mapu sa zaobljenim uglovima */
#map {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 50vh;
    object-fit: contain;
    cursor: pointer;
    border-radius: 40px; /* Dodato za zaobljene uglove */
}

#coordinates p,
#result-text {
    font-size: 1.2rem;
    text-align: center;
    margin-top: 10px;
}

.btn {
    margin-top: 5px;
    padding: 5px 5px;
    font-size: 1.2rem;
}

#response {
    width: 100%;
    max-height: 10vh;
}

@media (max-width: 768px) {
    #map {
        max-height: 40vh;
    }
}

@media (max-width: 576px) {
    .btn {
        font-size: 1.1rem;
        padding: 12px 25px;
    }
    #coordinates p {
        font-size: 1rem;
    }
}
